#document-form
    position: relative
    width: 800px
    border-radius: 5px

    & .form-window-nav
        width: 100%
        height: 30px
        display: flex
        justify-content: space-between
        align-items: flex-end
        z-index: 1

        & span
            line-height: 30px
            height: 100%
            padding: 0 10px
            letter-spacing: 0.1em
            border-top-left-radius: 5px
            border-top-right-radius: 5px
            border-left: 1px solid #000
            border-top: 1px solid #000
            border-right: 1px solid #000
            transition: 300ms ease
            cursor: pointer
            position: relative
            top: 1px
            background: #e9e9e9
            z-index: 30

            &.current
                height: calc(100% + 10px)
                background: #ffffff
                &::before
                    width: 0
            &::before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                background: #000000
                transition: 300ms ease
                z-index: 20

    & .form-tab
        padding: 10px 100px
        width: 100%
        border: 1px solid #000
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        z-index: 10

        & .doi-label-2
            font-size: 16px
            color: #474747
            letter-spacing: 0.08em
            position: relative
            top: -33px
            left: -85px

        & .add-btn
            float: right
            padding: 2px 13px
            margin-top: 5px
            border: 1px solid #2023b9
            border-radius: 5px
            cursor: pointer
            font-size: 14px
            color: #000
            background: none

        & div.field
            width: 100%
            position: relative
            display: flex
            align-items: center
            margin-top: 40px

            & input, textarea
                width: 100%
                min-width: 70%
                min-height: 40px
                max-height: 150px
                padding: 8px 10px
                border-radius: 5px
                font-size: 17px
                border: 1px solid #000

                & + label
                    position: absolute
                    top: -3px
                    left: 0
                    transform: translateY(-100%)
                    cursor: pointer
                    user-select: none
                    pointer-events: none
                    font-size: 18px
                    letter-spacing: 1px
                    color: #000
                    padding: 1px 5px

        & p
            font-size: 18px
            margin: 15px 0 10px 0

        & .book-additional
            border: 2px solid #ec9147
            padding: 20px
            border-radius: 5px

            & .field:first-child
                margin-top: 20px

        &.d-block .field
            position: relative
            left: 50px
            visibility: hidden
            opacity: 0
            animation: anim_feild 0.7s ease forwards

            &:nth-child(1)
                animation-delay: 100ms
            &:nth-child(2)
                animation-delay: 200ms
            &:nth-child(3)
                animation-delay: 300ms
            &:nth-child(4)
                animation-delay: 400ms
            &:nth-child(5)
                animation-delay: 500ms
            &:nth-child(6)
                animation-delay: 600ms
            &:nth-child(7)
                animation-delay: 700ms
            &:nth-child(8)
                animation-delay: 800ms
            &:nth-child(9)
                animation-delay: 900ms
            &:nth-child(10)
                animation-delay: 1000ms
            &:nth-child(11)
                animation-delay: 1100ms
            &:nth-child(12)
                animation-delay: 1200ms
            &:nth-child(13)
                animation-delay: 1300ms
            &:nth-child(14)
                animation-delay: 1400ms
            &:nth-child(15)
                animation-delay: 1500ms
            &:nth-child(16)
                animation-delay: 1600ms

        &.d-none .field
            position: relative
            left: 0
            visibility: visible
            opacity: 1
            animation: anim_feild_hide 0.4s ease forwards

@keyframes anim_feild
    0%
        opacity: 0
        left: 50px
        visibility: hidden
    100%
        opacity: 1
        left: 0
        visibility: visible

@keyframes anim_feild_hide
    0%
        opacity: 1
        left: 0
        visibility: visible
    100%
        opacity: 0
        left: -50px
        visibility: hidden
