.modal
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100vh
    background: rgba(0, 0, 0, 0.5)
    z-index: 100

    &.open
        animation: show_overlay 300ms linear forwards
        & .modal__body
            animation: open_window 200ms linear forwards
    &.close
        animation: hide_overlay 300ms linear forwards
        & .modal__body
            animation: close_window 200ms linear forwards

    &__body
        max-width: 700px
        margin: 100px auto
        background: #fff
        padding: 20px
        border-radius: 10px
        position: relative
        display: flex
        flex-flow: column wrap
        justify-content: space-between

        &__header
            & .modal-title
                letter-spacing: 1px
                font-size: 25px
                margin-bottom: 20px

        &__content
            position: relative
            display: flex
            flex-flow: column wrap
            & form
                & textarea
                    font-family: sans-serif
                    padding: 3px 5px
                    min-width: 100%
                    max-width: min-content
                    max-height: 25vh
                    border: 2px solid #9c9c9c
                    min-height: 100px
                    margin: 15px 0
                    font-size: 18px

                & button
                    letter-spacing: 0.05em
                    font-size: 16px
                    padding: 2px 5px
                    margin: 0 20px 0 0
                    border: 2px solid #5b8fd3
        &__footer
            margin-top: 20px
            display: flex
            flex-flow: row wrap
            justify-content: space-between

        & button
            align-self: flex-end
            font-size: 18px
            padding: 3px 7px
            border-radius: 5px
            cursor: pointer
            background: #5b8fd3
            color: #fff

@keyframes show_overlay
    from
        opacity: 0
        visibility: hidden

    to
        opacity: 1
        visibility: visible

@keyframes hide_overlay
    from
        opacity: 1
        visibility: visible

    to
        opacity: 0
        visibility: hidden

@keyframes open_window
    from
        top: -40px
        opacity: 0
    to
        top: 0
        opacity: 1

@keyframes close_window
    from
        top: 0
        opacity: 1
    to
        top: -40px
        opacity: 0
