*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: border-box

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

img
    display: block
    max-width: 100%

button, input, textarea, select
    border: none
    outline: none

input, textarea
    font-family: sans-serif
button
    cursor: pointer

a
    text-decoration: none

body
    font-family: 'Comfortaa', sans-serif
    overflow-x: hidden
    min-width: 320px
    margin-bottom: 200px
    position: relative

.container
    width: 100%
    max-width: 1200px
    padding: 0 10px
    margin: 0 auto
    position: relative

.d-none
    display: none
.d-block
    display: block

.form-submit-btn
    display: block
    margin: 20px auto 5px auto
    padding: 5px 20px
    border-radius: 5px
    border: 2px solid #8c19af
    background: #8c19af
    cursor: pointer
    color: #fff
    font-size: 18px

    &:hover
        background: #fff
        color: #8c19af
        border: 2px solid #8c19af

.green
    border: 1px solid rgba(42, 202, 42, 0.7) !important
    box-shadow: 0 0 7px 2px rgba(42, 202, 42, 0.3)
.red
    border: 1px solid rgb(202, 42, 0.7) !important
    box-shadow: 0 0 7px 2px rgba(202, 42, 103, 0.302)
