
h2
    text-align: center
    margin-top: 30px !important
    font-weight: 300
    color: #0c78c0

.login-up-form
    max-width: 300px
    display: flex
    flex-flow: column nowrap
    align-items: center
    margin: 30px auto 0 auto

    .error-msg
        position: absolute
        opacity: 0
        visibility: hidden
        bottom: -35px
        left: 50%
        transform: translateX(-50%)
        animation: show_error 3s forwards

    & .field
        width: 100%
        display: flex
        flex-flow: column-reverse nowrap
        margin: 5px 0

        & input
            transition: 200ms
            margin: 10px 0
            border: 1px solid #419aee
            border-radius: 5px
            padding: 10px

        & label
            margin-left: 10px

    & button
        margin-top: 10px
        font-size: 15px



@keyframes show_error
    10%
        opacity: 1
        visibility: visible
        bottom: -50px

    80%
        opacity: 1
        visibility: visible
        bottom: -50px

    100%
        opacity: 0
        visibility: hidden
        bottom: -80px
        