.content
    display: flex
    flex-flow: column nowrap
    align-items: center
    position: relative
    &__title
        text-align: center
        font-size: 45px
        letter-spacing: 2px
        line-height: 55px
        margin: 70px 0

        & div
            display: inline-block
