.examples-window
    width: 400px
    position: fixed
    top: 50%
    left: 0
    transform: translateY(-50%)
    background: #e4e4e4
    border-top: 2px solid #505050
    border-right: 2px solid #505050
    border-bottom: 2px solid #505050
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px
    padding: 20px
    transition: 400ms ease
    z-index: 10
    &.hide
        transform: translate(-100%, -50%)
        & .examples-open-btn
            display: inline
        & .examples-close-btn
            display: none
    & h3
        font-family: 'Comfortaa Light', sans-serif
        font-weight: 300
        letter-spacing: 1px
        margin-left: 10px
        margin-bottom: 10px
    & ul
        margin-left: 30px
        list-style: circle
        & li
            margin: 20px 0
            & span
                letter-spacing: 1px
            & p
                line-height: 25px
                margin: 5px
    & button
        display: inline
        position: absolute
        top: 50%
        right: -2px
        transform: translate(100%, -50%)
        padding: 5px
        text-transform: uppercase
        background: #3c80ad
        color: #fff

        & span
            writing-mode: vertical-rl
            text-orientation: upright
            letter-spacing: 2px
    & .examples-open-btn
        display: none
    & .examples-close-btn
        display: block
        min-width: 40px
        height: 40px
        padding: 5px
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        & svg
            width: 100%
            height: 100%
            fill: #fff
