main
    margin: 30px 0
    display: flex
    align-items: center
    flex-flow: column nowrap

    & h2
        margin-top: 0 !important
        margin-bottom: 20px
        font-size: 18px

        & span
            letter-spacing: 2px
            color: orange
