.list-ready-window
    width: 400px
    position: fixed
    top: 50%
    right: 0
    transform: translateY(-50%)
    background: #e4e4e4
    border-top: 2px solid #505050
    border-left: 2px solid #505050
    border-bottom: 2px solid #505050
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px
    padding: 13px 20px
    transition: 400ms ease
    z-index: 100
    &.hide
        transform: translate(100%, -50%)
        & .list-ready-open-btn
            display: inline
        & .list-ready-close-btn
            display: none
    & h3
        font-family: 'Comfortaa Light', sans-serif
        font-weight: 300
        letter-spacing: 1px
        margin-left: 10px
        margin-bottom: 10px

    & textarea
        max-height: 500px
        max-width: 100%
        width: 100%
        height: 300px
        min-height: 80px
        min-width: 70%
        font-size: 16px
        padding: 5px
        
    & button.handle-btn
        position: absolute
        top: 50%
        left: -2px
        transform: translate(-100%, -50%)
        padding: 5px
        text-transform: uppercase
        font-weight: 500
        transition: 300ms
        background: #3c80ad
        color: #fff
    & span
        writing-mode: vertical-rl
        text-orientation: upright
        letter-spacing: 2px
    & .list-ready-open-btn
        display: none
    & .list-ready-close-btn
        display: block
        min-width: 40px
        height: 40px
        padding: 5px
        border-top-right-radius: 0
        border-bottom-right-radius: 0
    & svg
        width: 100%
        height: 100%
        fill: #fff

    & form .form-submit-btn
        font-size: 14px
