.header
    width: 100%
    height: 60px
    background: #3c80ad

    & .header__container
        height: 100%
        display: flex
        align-items: center
        flex-flow: row wrap
        justify-content: space-between

        & .site-name
            display: inline-block

        & span
            color: #fff
            font-size: 20px
            font-weight: 400
            letter-spacing: 1px

    & .lang-nav

        & button
            margin: 0 7px

        & a
            margin: 0 5px
            color: #fff

    & .auth-nav
        order: 3
        & a
            margin: 0 10px
            color: #fff
            padding: 5px
