@font-face {
    font-family: 'Comfortaa Light';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Comfortaa/Comfortaa-Light.woff') format('woff'), url('./fonts/Comfortaa/Comfortaa-Light.ttf') format('ttf'), url('./fonts/Comfortaa/Comfortaa-Light.eot');
}

 @font-face {
    font-family: 'Comfortaa';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('./fonts/Comfortaa/Comfortaa.woff') format('woff'), url('./fonts/Comfortaa/Comfortaa.ttf') format('ttf'), url('./fonts/Comfortaa/Comfortaa.eot');
}
